<app-slider-banner [data]="sliderData"></app-slider-banner>

<div class="relative p-8">
    <div class="flex space-x-2">
        <span class=" text-5xl font-bold text-secondary-600 dark:text-slate-200">#</span>
        <h5 class="mb-2  text-4xl font-bold tracking-tight text-dark dark:text-white">Best Sellers</h5>
    </div>
    <div class="flex m-2 space-x-8 justify-center overflow-auto">
        <product-card [data]="product" *ngFor="let product of listProduct"></product-card>
    </div>
</div>
