<app-auth-global>
    <h3 class="text-2xl mb-4 font-bold text-center">{{ 'auth.register.title' | translate }}</h3>
<form [formGroup]="registerForm">
    <div class="flex flex-col mb-4">
        <label class="">{{ 'auth.firstname' | translate }}</label>
        <input class="input border-2 border-secondary-600" type="text" formControlName="firstname" placeholder="{{'auth.enter.firstname' | translate}}">
        <small class="text-danger" *ngIf="f.firstname?.['invalid'] && f.firstname?.['touched']" >{{'auth.required.firstname' | translate}}</small>
      </div>
    <div class="flex flex-col mb-4">
      <label class="">{{ 'auth.lastname' | translate }}</label>
      <input class="input border-2 border-secondary-600" type="text" formControlName="lastname" placeholder="{{'auth.enter.lastname' | translate}}">
      <small class="text-danger" *ngIf="f.lastname?.invalid &&f['lastname']?.['touched']">{{'auth.required.lastname' | translate}}</small>
    </div>
  <div class="flex flex-col mb-4">
    <label class="">{{ 'auth.email' | translate }}</label>
    <input class="input border-2 border-secondary-600" type="email" formControlName="email"  placeholder="{{'auth.enter.email' | translate}}">
    <small class="text-danger" *ngIf="f['email']?.['invalid'] &&f['email']?.['touched']">{{'auth.required.email' | translate}}</small>
  </div>
<div class="flex flex-col mb-4">
  <label class="">{{ 'auth.phonenumber' | translate }}</label>
  <input class="input border-2 border-secondary-600" type="text" formControlName="phonenumber"  placeholder="{{'auth.enter.phonenumber' | translate}}">
  <small class="text-danger" *ngIf="f['phonenumber']?.['invalid'] &&f['phonenumber']?.['touched']">{{'auth.required.phonenumber' | translate}}</small>
</div>
<div class="flex flex-col mb-4">
  <label class="">{{ 'auth.imageurl' | translate }}</label>
  <input class="input border-2 border-secondary-600"  type="file"  placeholder="{{'auth.enter.imageurl' | translate}}">
</div>
    <div class="flex flex-col mb-4">
        <div class="flex justify-between">
            <label class="">{{ 'auth.password' | translate }}</label>
        </div>
        <input class="input border-2 border-secondary-600" type="password" formControlName="password" placeholder="{{'auth.enter.password' | translate}}">
        <small class="text-danger" *ngIf="f['password']?.['invalid'] &&f['password']?.['touched']">{{'auth.required.password' | translate}}</small>
      </div>
    <div class="flex flex-col mb-4">
      <div class="flex justify-between">
          <label class="">{{ 'auth.repeatpassword' | translate }}</label>
      </div>
      <input class="input border-2 border-secondary-600" type="password" formControlName="repassword" placeholder="{{'auth.enter.repeatpassword' | translate}}">
      <small class="text-danger" *ngIf="f['repassword']?.['invalid'] &&f['repassword']?.['touched']">{{'auth.required.password' | translate}}</small>
    </div>
</form>
    <div class="text-center mt-6">
        <button class="bg-secondary-600 w-full text-back px-4 py-2 rounded hover:bg-secondary-200 shadow" [disabled]="registerForm.invalid" (click)="clicksub()"  >{{ 'auth.register.button' | translate }}</button>
    </div>
    <!-- <div class="line"></div> -->
    <p class="text-sm text-center mt-3">
        {{ 'auth.register.login.label' | translate }}
        <a routerLink="/login">{{ 'auth.register.login.href' | translate }}</a>
    </p>
</app-auth-global>
