<div class="px-8 md:px-14 py-10 text-center md:text-left bg-slate-50 dark:bg-slate-600 md:flex md:items-center">
    <div class="md:w-1/2 space-y-3 md:pr-6">
        <div class="uppercase">
            <h2 class="font-normal">ABOUT US</h2>
        </div>
        <div class="text-2xl font-semibold lg:text-3xl">
            Lorem ipsum dolor sit amet consectetur adipisicing.
        </div>
        <div class="text-xl font-extralight lg:text-2xl">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque inventore.
        </div>
    </div>
    <div class="md:w-1/2 my-7 md:my-0 md:pl-6">
        <div class="flex justify-center xl:w-4/5">
            <img
                class="rounded"
                src="https://photo-cdn2.icons8.com/WfD4xSnMwDcBdl5-9Jtql_GBNujIZ9cMh9oLZ4tW4L0/rs:fit:1608:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5l/eHRlcm5hbC9hMmE0/Mi8yMzE3MWVhYWJh/YjY0MzE1YmY2MDgx/M2Y0YjQ3MWU3Yi5q/cGc.jpg"
                alt="shopping"
            >
        </div>
    </div>
</div>

<div class="px-8 md:px-14 py-10 space-y-4 text-center">
    <div class="font-normal uppercase">
        Secondary Title
    </div>
    <div class="text-2xl font-normal">
        Lorem ipsum dolor sit amet consectetur adipisicing.
    </div>
    <div class="font-extralight text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem, quisquam consequuntur vel ad mollitia autem eos voluptatum at sint. Repellat ut dignissimos voluptate saepe eaque amet.
    </div>
    <div class="py-4">
        <a href="#" class="bg-secondary-600 text-white dark:text-white px-6 py-3 rounded hover:bg-secondary-200 hover:text-white dark:bg-slate-800 dark:hover:bg-slate-900">Get Started</a>
    </div>
</div>
