<div class="w-full h-fit relative">
    <button class="absolute left-0 top-0 p-8 bg-slate-700 transition-all opacity-30 hover:opacity-70 text-white h-full z-10"><i class="bi bi-chevron-compact-left text-5xl"></i></button>
    <div class="flex">
        <app-slider-card *ngFor="let item of data" [data]="item"></app-slider-card>
    </div>
    <button class="absolute right-0 top-0 p-8 bg-slate-700 transition-all opacity-30 hover:opacity-70 text-white h-full z-10"><i class="bi bi-chevron-compact-right text-5xl"></i></button>
</div>