<swiper
#swiperSlideShow
[config]="config">
<ng-template swiperSlide>
            <a class="flex w-full h-full items-center justify-center" href="https://www.w3schools.com">
                <h3 class=" font-bold text-5xl text-center">SUMMER SALES</h3>
            </a>

</ng-template>
<ng-template swiperSlide>
        <a class="flex w-full h-full items-center justify-center" href="https://www.w3schools.com">
            <h3 class=" font-bold text-5xl text-center">SPECIAL OFFERS</h3>
        </a>

</ng-template>
<ng-template swiperSlide>
        <a class="flex w-full h-full items-center justify-center" href="https://www.w3schools.com">
            <h3 class=" font-bold text-5xl text-center">POPULAR ITEMS</h3>
        </a>

</ng-template>


</swiper>
