<form class="relative border dark:border-slate-800 rounded shadow p-4 m-auto w-10/12" [formGroup]="prodForm" (ngSubmit)="AddProduct()">
  <a class="absolute top-2 left-2 cursor-pointer" (click)="goBack()">
    <i class="bi bi-caret-left-fill"></i>
    {{ 'goback' | translate }}
  </a>

  <h4 class="text-xl text-center">Add Product</h4>

  <div class="form-group">
    <label>Name :</label>
    <input formControlName="name"  />
  </div>

  <div class="form-group">
    <label>Description :</label>
    <input formControlName="description" />
  </div>
  <div class="form-group">
    <label>Price :</label>
    <input formControlName="price" />
  </div>
  <div class="form-group">
    <label>Category :</label>
    <select formControlName="category">
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.categoryCode}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Pictures :</label>
    <input id="file_input"
      class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
      type="file" multiple />

    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).
    </p>



  </div>
  <button class="btn ml-auto">Save</button>

</form>
