* {
    margin: 0;
    padding: 0;
  }


  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }

  .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }

  .card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .card .contentBox .buy {
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
  }

  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }

  .mouse {
    height: 100px;
    width: auto;
  }
