.carousel{
    height: 600px;
}
@import "~swiper/scss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: rgb(85, 108, 212);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-image: url("https://media.istockphoto.com/photos/wooden-table-top-on-blurred-summer-blue-sea-and-sky-background-copy-picture-id1225299365?k=20&m=1225299365&s=612x612&w=0&h=S_sQ1wGPiES7qifeveJn6JY4NpwbO_GfwuKE169AUA8=");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


