<div class="w-72 p-4 bg-secondary-600 h-screen flex flex-col justify-between">
  <div class="w-full flex  flex-col">
    <a class="sidebar-link" routerLink="/admin/product" routerLinkActive="sidebar-link-active">
      <i class="bi bi-archive-fill"></i>
      Product
    </a>
    <a class="sidebar-link" routerLink="/admin/order" routerLinkActive="sidebar-link-active">
      <i class="bi bi-archive-fill"></i>
      Order
    </a>
  </div>
  <div class="w-full flex  rounded flex-col">
    <div class="w-full flex rounded justify-between items-center">
      <img class="photo rounded-full" alt="Steve Schoger" width="48" height="48"
        src="https://cdn.dribbble.com/users/42578/avatars/small/d0ac345ce3f79bf2c2e7e64527bbf342.jpg?1530900788">
      <div class="flex flex-col">
          <label class="text-white">FullName</label>
          <a class="text-gray-300 cursor-pointer">View Profile</a>
      </div>
      <a class="text-white text-2xl cursor-pointer"><i class="bi bi-gear"></i></a>
      
    </div>
    <a class="bg-white p-3 rounded mt-4 w-full" routerLink="/" >
      <i class="bi bi-caret-left-fill"></i>
      Logout
    </a>
  </div>
</div>
