<div class="w-5/6 m-auto text-2xl py-4 pt-8">
  <h3>Contact us</h3>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-5/6 h-2/3 m-auto ">
    <div class="content">   
 <!-- <div class="justify-between flex align-sub">   -->
    <div class="left-side">
      <div class="adress details">
        <i class="bi bi-house-door-fill text-secondary-600 dark:text-slate-300 "></i>           
        <div class=" font-bold text-xl">Address</div>
        <div class="font-thin">ghfdsfgyf</div>
        <div class="font-thin">ikyutrseqsd</div>
      </div>
      <div class="adress details">
       <i class="bi bi-telephone-inbound-fill  text-secondary-600 dark:text-slate-300"></i>
        <div class=" font-bold text-xl">Phone</div>
        <div class="font-thin">0678235992</div>
        <div class="font-thin">+3436736463787</div>
      </div>
      <div class="adress details">
        <i class="bi bi-envelope-fill  text-secondary-600 dark:text-slate-300 "></i>
        <div class=" font-bold text-xl">Email</div>
        <div class="font-thin">NTT@gmail.com</div>
        <div class="font-thin">squad2022@gmail.com</div>
      </div>
    </div>

    <div class="right-side">
      <div class="font-bold text-2xl text-secondary-600"> Send us a message</div>
      <p>
        qsxfghjkyrhytgsrfercsdpmolskijd<br>
        uhetgdfrazqersfvdhgdhfjghfcdjh<br>
        gyzhusjsiskskshsgssuduygsdghgyuyu
        rjhvbdcvsduyyer
        vclushfyuytrgfw
      </p>

      <form action="#">
        <div class="h-12 w-28 mt-3 mr-0 ">
            <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 pr-4 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter your name">
          <!-- <input class="h-4/5 border-0 text-lg bg-slate-200" type="text" placeholder="Enter your name" /> -->
        </div>
        <div class="h-12 w-28">
            <input type="text" id="table-search" class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 pr-4 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Enter your email">
          <!-- <input class="h-4/5 border-0 text-lg bg-slate-200" type="text" placeholder="Enter your email" /> -->
        </div>
        <div class="input-box message-box">
          <textarea class="bg-gray-50 border border-gray-300 text-gray-900  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 pr-4 py-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 " type="text" ></textarea>
        </div>
        <div class="mt-6">
          <a  class="bg-secondary-600 cursor-pointer text-white dark:text-white px-5 py-3 rounded hover:bg-secondary-200 hover:text-white dark:bg-slate-800 dark:hover:bg-slate-900  items-center shadow ;">Send Now</a>
        </div>

      </form>
    </div>
  </div>
</div>
