<nav class="p-4 text-center bg-cyan-600 text-white shadow-lg">
  <h2 class="text-lg font-medium">NTT Ecommerce FE</h2>
</nav>

<div class="grid grid-cols-3 gap-4 p-4">
  <div class="border-2 rounded p-4">
    <h2 class="font-medium mb-3">Buttons</h2>
    <ul class="grid gap-2">
      <li>
        <button class="btn text-sm">Small</button>
      </li>
      <li>
        <button class="btn">Normal</button>
      </li>
      <li>
        <button class="btn text-lg">large</button>
      </li>
    </ul>
  </div>
  <div>
    test
  </div>
  <div>
    test
  </div>
</div>