<footer class="p-4 bg-back rounded-lg shadow md:px-6 md:py-4 dark:bg-gray-800">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class=""></div>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{year}} <a routerLink="/about" class="hover:underline">NTT ECOM™</a>. All Rights Reserved.</span>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
            <li>
                <a routerLink="/about" class="mr-4 hover:underline md:mr-6 ">{{ 'general.about' | translate }}</a>
            </li>
            <li>
                <a routerLink="/policy" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a routerLink="/contact" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>