<div class="container mx-auto px-6 py-6 grid grid-cols-4 gap-4 w-full text-lg text-left text-gray-500 dark:text-gray-400 rounded-lg">
  <div *ngFor="let product of products" class="px-4 py-4 bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 rounded-lg">
    <div class="grid grid-cols-1 gap-2 place-items-center  px-2 py-2 dark:text-white whitespace-nowrap">
      <img class="object-cover rounded-tl-lg rounded-tr-lg rounded-bl-lg rounded-br-lg" src={{product.images[0]?.imageUrl}} (error)="onImgError($event)"/>
    </div>
    <div>
      <div class="grid grid-cols-1 gap-2 place-items-center px-2 py-2 font-medium text-gray-900 dark:text-white whitespace-nowrap">
        {{product.name}}
      </div>
      <div class="px-2">
        {{product.description}}
      </div>
      <div class="px-2">
        {{product.category.categoryCode}}
      </div>
      <div class="px-2">
        {{product.price}}$
      </div>
    </div>

  </div>
</div>
