    <img class="w-24 mt-8 z-20" src="https://themesbrand.com/velzon/html/saas/assets/images/logo-light.png" alt="Logo">
    <form class="relative p-8 mt-8 bg-back dark:bg-slate-700 dark:text-slate-300  text-dark rounded shadow-xl w-11/12 sm:w-96" >
        <a class="absolute top-2 left-2 cursor-pointer" (click)="goBack()">
            <i class="bi bi-caret-left-fill"></i>
            {{ 'goback' | translate }}
        </a>
        <div class="absolute top-2 right-2">
            <app-mode-lang></app-mode-lang>
        </div>
        
        <ng-content></ng-content>

    </form>