<app-auth-layout>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPasswordForm()">
        <h3 class="text-2xl mb-4 font-bold text-center">{{'auth.forgotpassword.title' | translate}}</h3>
        <div class="flex flex-col mb-4">
            <label class="">{{'auth.email' | translate}}</label>
            <input class="input border-2 border-secondary-600" type="text" placeholder="{{'auth.enter.email' | translate}}" formControlName="email">
            <small class="text-danger" *ngIf="forgetPasswordFormValidator.email?.errors?.required && forgetPasswordFormValidator.email?.touched">{{'auth.required.email' |
                translate}}</small>
            <small class="text-danger" *ngIf="forgetPasswordFormValidator.email?.value !== null && forgetPasswordFormValidator.email?.invalid && forgetPasswordFormValidator.email?.touched">
                {{ 'auth.invalid.email' | translate }}
            </small>
        </div>
        <button class="bg-secondary-600 mt-1 w-full text-back px-4 py-2 rounded hover:bg-secondary-200 shadow">{{'auth.forgotpassword.button' | translate}}</button>
        <!-- <div class="line"></div> -->
        <p class="text-sm text-center mt-3">
            {{'auth.forgotpassword.login.label' | translate}}
            <a routerLink="/login">{{'auth.forgotpassword.login.href' | translate}}</a>
        </p>
    </form>
</app-auth-layout>